.navbar-brand {
    color: #FFD0EC !important;
    font-family: 'Equip', sans-serif;
    padding-left: 20px;
    letter-spacing: 2px;
  }

  .navbar {
    background-color: #1F2544 !important; 
  }
  .nav-link {
    color: #FFD0EC !important;
    font-family: 'Equip', sans-serif;
    padding-left: 20px;
    background-color: #1F2544;
  }

  .nav-link:hover {
    color: rgb(0, 202, 202) !important;
    background-color: #1F2544;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
  }

  .nav-link:active {
    color: rgb(0, 202, 202) !important;
    background-color: #1F2544;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
  }

  .ng-star-inserted {
    background-color: rgb(19, 18, 18);
  }
