
   <footer>

    <!-- page body content end -->

    <!-- footer-2 begin -->
    <div id="footer-2" class="about-us">
      
          <div class="container">
             <div class="row">
                <div class="col-md-6">
                   <div class="about-us-box mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         Who are we?
                      </div>
                      <div class="mobile-collapse-body">
                         <p>This is a demo application created as part of the Promotion Case Study for Senior Staff Engineer.</p> 
                         <p>Through a reliable, user friendly online shopping website, we aim to deliver a seamless and dependable user experience. to shop from over 5,000+ items.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="contact-info-box mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         Contact Info
                      </div>
                      <ul class="list-unstyled mobile-collapse-body">
                         <li><i class="icon-pointer"></i>Anant Vardhan</li>
                         <li><i class="icon-screen-smartphone"></i>+91-9742186985</li>
                         <li><a href="mailto:anant.vardhan@nagarro.com"><i class="icon-envelope "></i>anant.vardhan@nagarro.com</a></li>
                      </ul>
                   </div>   
                </div>
                <!-- <div class="col-md-4">
                   <div class="facebox-fan-box box-with-top-button mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         Facebook Fans
                      </div>
                      <div id="fb-fans" class="mobile-collapse-body">
                         <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=360&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=388032001306737"></iframe>
                      </div>
                   </div>
                </div> -->
             </div>
          </div>
       
    </div>
    <div id="footer-4" >
       
          <div class="container">
             <div class="row">
                <div class="col-md-6 text-center-md" >
                   <img src="assets/images/credit-cards.png" width="50" height="25" alt="accepted credit cards">
                   We accept all Debit/Credit cards
                </div>
                <div class="col-md-6 text-right text-center-md">
                   <!-- <ul id="social-buttons" class="list-inline">
                      <li class="facebook"><a href="#"><i class="icon-social-facebook"></i></a></li>
                      <li class="tweeter"><a href="#"><i class="icon-social-twitter "></i></a></li>
                      <li class="gplus"><a href="#"><i class="social_googleplus "></i></a></li>
                      <li class="youtube"><a href="#"><i class="social_youtube"></i></a></li>
                      <li class="instantgram"><a href="#"><i class="social_instagram "></i></a></li>
                      <li class="skype"><a href="#"><i class="social_skype"></i></a></li>
                   </ul> -->
                </div>
             </div>
          </div>
       
    </div>   
    <!-- footer-4 end -->
    <!-- footer-5 begin -->
    <div id="footer-5">
      
          <div class="container">
             <p class="copyright">
                © 2023 <i class="icon_heart"></i> <a href="https://nagarro.com"  target="_blank">Nagarro</a> All right reserved.
             </p>
          </div>
       
    </div>
    <!-- footer-5 end -->   

 </footer>

 <!-- JS Libs -->
 <script src="js/jquery-1.11.0.min.js"></script>
 <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/jquery.bxslider.min.js"></script>
 <script src="js/jquery-accessibleMegaMenu.js"></script>
 <script src="js/jquery.validationEngine.js"></script>
 <script src="js/jquery.validationEngine-en.js"></script>

 <script src="plugins/responsiveslides/responsiveslides.min.js"></script>

 <script src="js/plugins.js"></script>
 <script src="js/scripts.js"></script>
