.about-us {
    background-color: #1F2544 !important;
    font-family: 'Equip', sans-serif;
    color: white;
}

.title-type-1{
    color: #FFD0EC;
    letter-spacing: 4x !important;
    font-weight: bold;
}